


.card__image{
    height: 413px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}
.card__tittle{
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
    line-height: 24px;
     white-space: nowrap;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 0;
    max-width: 350px;
}
.card__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.card__like-btn{
    background-image: url(../images/HeartPicture.svg.svg);
    height: 20px;
    width: 23px;
    border: none;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4
    
    
}
.card__like-btn:hover{
    cursor: pointer;
    opacity: 1;
    
}
@media  screen and (max-width: 672px) {

   .card__image{
    height: 288px;

   }
   .card__content{

    }
   .card__like-btn{
    width: 20px;
    height: 18px;
    }
    
    .card__tittle{
        max-width: 250px;
        font-size: 16px;
    }


    
}